@charset "UTF-8";


body{
    background-color: #8B0707;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
}

select{
    padding-top: 20px;
    padding-right: 150px;
    border-radius: 10px;
}
div{
    width: 500px;
    margin: auto;
}
p{
    
}